header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

header div {
    max-width: 45%
}

h1 {
    font-size: larger;
    text-align: center;
    margin: 2cm
}

table {
    width: 100%;
}

footer {
    text-align: right;
}
